# Temporales y caches de Vivado
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.jou
*.log
*.str
*.dmp
*.wdb
*.vcd
.Xil/
hd_visual/
xsim.dir/

# Archivos de salida de compilación
*.bit
*.bin
*.dcp
*.rpt

# Archivo de proyecto de Vivado (ligado a version/ruta local)
*.xpr

# TP1 ya no se versiona, solo project_1
/TP1/